# Configurações de Base de Dados
#DB_USER=
#DB_PASS=
#DB_NAME=
#DB_HOST=

# Configurações do Redis
#REDIS_URL=

#API Telegram
#TG_BOT_TOKEN=

# SMTP_HOST= server SMTP (Exemplo: smtp.gmail.com)
# SMTP_PORT= port SMTP (Exemplo: 587)
# SMTP_USER= seu_email@email.com
# SMTP_PASS= senha do seu email
# SMTP_FROM=Syslog Center <seu_email@email.com>
# SMTP_TO= destino dos alertas (ex: adm.ti@seu_dominio.com)